<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Enter your room number</title>
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/enterroom.css">
</head>
<body>

<div class="blurred-box">
  <!--  you dont need the user-login-box html  -->
  <!--  for demo purposes only and its shit  -->
  <div class="user-login-box">
    <span class="user-icon"></span>
    <div class="user-name">Ready to start?</div>
    <form>
      <div class="form-group">

        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Input the room number">
      </div>
    </form>
    
  </div>
  <div class="enterbutton">
    <button type="button" class="btn btn-primary">Enter</button>
  </div>
  
</div>
<!-- partial -->
  
</body>
</html>
